<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title - The Second Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <script src="~/JS/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <style>
         hr {
             height: 4px;
             margin-left: 15px;
             margin-bottom:-3px;
         }
        .hr-warning{
            background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
        }
        .hr-success{
            background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
        }
        .hr-primary{
            background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
        }
        .hr-danger{
            background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
        }

        .breadcrumb {
            background: rgba(245, 245, 245, 0);
            border: 0px solid rgba(245, 245, 245, 1);
            border-radius: 25px;
            display: block;
        }

        .btn-bread{
            margin-top:10px;
            font-size: 12px;

            border-radius: 3px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <br>
            <br>
            <img alt="200x68" src="~/Image/second-home.jpg" />
        </div>
        <div class="col-md-1 column"></div>
        <div class="col-md-3 column">
            <br>
            <br>
            <br>
            <ul class="breadcrumb">
                <li><a href="~/Default"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <li><a href="~/About">About</a></li>
                <li><a href="~/Contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <img alt="140x140" src="~/Image/youthhead.jpg" width="400" height="80" />
        </div>
        <div class="col-md-2 column">
            <br>
            <br>
            <br>
            <section id="login">
                @if (WebSecurity.IsAuthenticated)
                {
                    <text>
                        Hello, <a class="email" href="~/Account/Manage.cshtml" title="Manage">@WebSecurity.CurrentUserName</a>!
                        <form id="logoutForm" action="~/Account/Logout.cshtml" method="post">
                            @AntiForgery.GetHtml()
                            <a class="btn btn-primary btn-xs" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                        </form>
                    </text>
                }
                else
                {
                    <ul>
                        <a class="btn btn-primary btn-xs" href="~/Account/Register.cshtml">Register</a>
                        <br>
                        <a class="btn btn-primary btn-xs" href="~/Account/Login.cshtml">Log in</a>
                    </ul>
                }
            </section>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <br>
            <br>
            <div class="row">
                <hr class="hr-primary" />
                <ol class="breadcrumb bread-primary">
                    <button href="#" class="btn btn-primary"><i class="fa fa-newspaper-o"></i> Education News</button>
                </ol>
            </div>
            <div class="row">
                <hr class="hr-danger" />
                <ol class="breadcrumb bread-danger">
                    <button href="#" class="btn btn-danger"><i class="fa fa-paw"></i> Entertainment</button>
                </ol>
            </div>
            <div class="row">
                <hr class="hr-success" />
                <ol class="breadcrumb bread-success">
                    <a href="~/ParentsLink.cshtml" class="btn btn-success"><i class="fa fa-life-ring"></i> Parents Link</a>
                </ol>
            </div>
            <div class="row">
                <hr class="hr-warning" />
                <ol class="breadcrumb bread-warning">
                    <a href="~/ChatHub.cshtml" class="btn btn-warning"><i class="fa fa-facebook-square"></i> Chat Hub </a>
                </ol>
            </div>
        </div>
        <div class="col-md-10 column">
            <br>
            <br>
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            @RenderSection("Scripts", required: false)
        </div>
    </div>
</div>
</body>
</html>